@charset "UTF-8";

.q1 {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: #ff0000;
}

.q2 {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #ff0000;
}

.q3 {
  display: flex;
  justify-content: center;
}

.q3-1 {
  width: 300px;
  height: 300px;
  background-color: #0008ff;
}

.q3-2 {
  width: 300px;
  height: 300px;
  background-color: #22ff00;
  margin-left: 150px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  position: relative;
}

.q4-1 {
  width: 300px;
  height: 300px;
  background-color: #ff0000;
  float: left;
  position: relative;
  left: 25%;
}

.q4-2 {
  width: 300px;
  height: 300px;
  background-color: #0008ff;
  float: left;
  position: relative;
  left: 25%;
}

.q5 {
  display: flex;
  justify-content: center;
}

.q5-1 {
  width: 300px;
  height: 300px;
  background-color: #ff0000;
  position: relative;
}

.q5-2 {
  width: 300px;
  height: 300px;
  background-color: #0008ff;
  position: relative;
}

.q5-3 {
  width: 300px;
  height: 300px;
  background-color: #ff8400;
  position: relative;
}

.txt1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.q6 {
  display: flex;
  justify-content: center;
}

.q6-1 {
  width: 300px;
  height: 300px;
  background-color: #00ff51;
  position: relative;
}

.q6-2 {
  width: 300px;
  height: 300px;
  background-color: #d4ff00;
  position: relative;
}

.q6-3 {
  width: 300px;
  height: 300px;
  background-color: #ff00e1;
  position: relative;
}

.q7 {
  display: flex;
  justify-content: center;
}

.q7-1 {
  width: 300px;
  height: 300px;
  background-color: #ff0000;
}

.q7-2 {
  width: 300px;
  height: 300px;
  background-color: #0008ff;
  display: none;
}

.q7-3 {
  width: 300px;
  height: 300px;
  background-color: #00ff51;
}

@media screen and (max-width:960px){
  .q1 {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
  }

  .q2 {
    width: 300px;
    height: 300px;
    background-color: #007bff;
  }

  .q3-2 {
    width: 300px;
    height: 300px;
    background-color: #22ff00;
    margin-left: 50px;
  }

  .q4-1 {
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    float: none;
  }
  
  .q4-2 {
    width: 300px;
    height: 300px;
    background-color: #0008ff;
    float: none;
  }

  .q5 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .q6-3 {
    width: 300px;
    height: 300px;
    background-color: #ff00e1;
    position: relative;
    order: -1;
  }

  .q7-1 {
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    display: none;
  }

  .q7-2 {
    width: 300px;
    height: 300px;
    background-color: #0008ff;
    display: block;
  }
}